# Docs: https://embarkstudios.github.io/cargo-deny/

targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
]

[bans]
# Lint level for when multiple versions of the same crate are detected
multiple-versions = "allow"
# Lint level for when a crate version requirement is `*`
wildcards = "allow"
# List of crates to deny
deny = []

# See https://spdx.org/licenses/ for list of possible licenses
[licenses]
# The lint level for crates which do not have a detectable license
unlicensed = "deny"
# List of explictly allowed licenses
allow = [
    "Apache-2.0",
    "MIT",
    "Zlib",
]
# List of explictly disallowed licenses
deny = []
# Lint level for licenses considered copyleft
copyleft = "deny"
# Lint level used when no other predicates are matched
# 1. License isn't in the allow or deny lists
# 2. License isn't copyleft
# 3. License isn't OSI/FSF, or allow-osi-fsf-free = "neither"
default = "deny"
# The confidence threshold for detecting a license from license text.
# The higher the value, the more closely the license text must be to the
# canonical license text of a valid SPDX license file.
# [possible values: any between 0.0 and 1.0].
confidence-threshold = 0.8

[licenses.private]
# Ignores workspace crates that aren't published, or are only published to
# private registries
ignore = true

[sources]
# Lint level for what to happen when a crate from a git repository that is not
# in the allow list is encountered
unknown-git = "deny"
# List of URLs for allowed Git repositories
allow-git = []
